.drop-container {
	background-color: pink;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px dashed grey;
}

.drop-active {
	border: 2px dashed rgb(86, 209, 247);
}

.upload-button {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	background-color: blue;
	color: white;
	padding: 1rem 1.5rem;
	border-style: none;
}

.button-icon {
	margin-left: 0.5rem;
}
