body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

button {
	cursor: pointer;
	outline: none;
}

@font-face {
	font-family: "Hallington";
	src: local("Hallington"), url(./assets/fonts/Hallington.ttf) format("truetype");
}

@font-face {
	font-family: "KGALittleSpark";
	src: local("KGALittleSpark"), url(./assets/fonts/KGALittleSpark.ttf) format("truetype");
}

@font-face {
	font-family: "LandyNotes";
	src: local("LandyNotes"), url(./assets/fonts/LandyNotes.ttf) format("truetype");
}

@font-face {
	font-family: "SilentLandfield";
	src: local("SilentLandfield"), url(./assets/fonts/SilentLandfield.ttf) format("truetype");
}
