body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #f6fbf7;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

h1 {
	font-size: 3rem;
}

h1,
h2,
h3,
h4,
h5 {
	padding: 0;
	margin: 0;
	font-family: "Open Sans", sans-serif;
}

button {
	cursor: pointer;
	outline: none;
}

a {
	cursor: pointer;
	text-decoration: none;
}

a:hover {
	cursor: pointer;
	text-decoration: none;
}

ul {
	list-style: none;
	padding: 0rem;
	margin: 0rem;
}

li {
	text-decoration: none;
	padding: 0rem;
}

div {
	margin: 0rem;
	padding: 0rem;
	align-items: center;
}

textarea:focus,
input:focus {
	outline: none;
}

textarea,
input {
	border: none;
}

::placeholder {
	color: white;
}
